@model IEnumerable<ProExam.Models.LichThi>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenMonHoc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayThi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GioThi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhongThi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoLuongSV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MonHoc.TenMonHoc)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenMonHoc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayThi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GioThi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhongThi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoLuongSV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MonHoc.TenMonHoc)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaMonHoc }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaMonHoc }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaMonHoc })
        </td>
    </tr>
}

</table>
