@model ProExam.Models.Subjects_Student

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Subjects_Student</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Student.Stu_FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.Stu_FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Subject.Subject_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subject.Subject_Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Subs_Stu_No }) |
    @Html.ActionLink("Back to List", "Index")
</p>
